<!DOCTYPE html>
<html>
<head>
    <title>Meine Ziele</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Meine Ziele</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Fortschritt</th>
            <th>Aktionen</th>
        </tr>
        {% for goal in goals %}
            <tr>
                <td>{{ goal.name }}</td>
                <td>{{ goal.beschreibung }}</td>
                <td>{{ goal.fortschritt }}/{{ goal.zielwert }}</td>
                <td>
                    <a href="{% url 'goal_update' goal.id %}">Bearbeiten</a>
                    <a href="{% url 'goal_delete' goal.id %}">Löschen</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br>
    <a href="{% url 'goal_create' %}">Neues Ziel</a>
</body>
</html>
