<!DOCTYPE html>
<html>
<head>
    <title>Meine Lernsitzungen</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Meine Lernsitzungen</h1>
    
    <table>
        <tr>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Start</th>
            <th>Ende</th>
            <th>Aktionen</th>
        </tr>
        {% for session in sessions %}
            <tr>
                <td>{{ session.title }}</td>
                <td>{{ session.beschreibung }}</td>
                <td>{{ session.start_zeit }}</td>
                <td>{{ session.end_zeit }}</td>
                <td>
                    <a href="{% url 'study_session_update' session.id %}">Bearbeiten</a>
                    <a href="{% url 'study_session_delete' session.id %}">Löschen</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br>
    <a href="{% url 'study_session_create' %}">Neue Lernsitzung</a>
</body>
</html>
